@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 100px;
  font-family: "Sora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1024px) {
  body {
    padding: 10px;
  }
}
@layer utilities {
  .text-outline {
    font: 800 48px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
  }
}
